/* de 768 a 992 px*/
@media screen and (max-width: 992px) {

    body {
        margin: 0 35px;
    }

    section#recherche div#filtres i {
        margin: 0 3px;
    }

    section#recherche div#filtres span {
        padding-right: 2px;
    }

    section#recherche div#filtres button {
        padding: 0 7px;
    }

    section#recherche div#filtres > button:last-child {
        margin-right: 0;
    }

    section#hebergements {
        flex-direction: column;
    }

    section#hebergements div#tous {
        margin-bottom: 53px;
    }

    section#hebergements div#tous,
    section#hebergements > aside {
        margin-left: 35px;
        margin-right: 35px;
    }

    section#hebergements aside#populaires div.results {
        flex-direction: row;
        justify-content: space-around;
    }

    section#hebergements aside#populaires a.card {
        width: 30%;
    }
}

/* de 320 a 768 px */
@media screen and (max-width: 768px) {

    body {
        margin: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    header img {
        margin: 30px;
    }

    nav {
        width: 100%;
    }

    nav a {
        border-bottom: 3px solid #FFF0;
        border-top: none;
        width: inherit;
        padding: 25px 0;
    }

    nav a:not(.selected) {
        border-bottom: 3px solid #D9D9D9;
    }

    nav a:hover,
    nav a.selected {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    section > div#infos{
        padding: 0 12px;
    }

    section#recherche {
        padding: 0 22px;
    }

    section#recherche form {
        width: 100%;
        display: flex;
    }

    section#recherche form input {
        width: inherit;
    }

    section#recherche form button span {
        display: none;
    }

    section#recherche form button i {
        display: block;
        background-color: #0065FC;
        margin-right: 0;
    }

    section#recherche div#filtres {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    section#recherche div#filtres * {
        margin-right: 0;
    }

    section#recherche div#filtres i {
        margin: 0 6px;
    }

    section#recherche div#filtres p {
        width: 100%;
    }

    section#recherche div#filtres span {
        padding: 0;
        font-size: 0.78em;
    }

    section#recherche div#filtres button {
        min-height: 50px;
        margin-bottom: 25px;
        width: 47%;
        text-align: left;
        padding: 0;
    }


    section#hebergements {
        flex-direction: column-reverse;
    }

    section#hebergements div#tous,
    section#hebergements > div{
        margin-top: 26px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
        background-color: white;
    }

    section#hebergements a.card{
        width: 100%;
        max-width: 335px;
    }

    section#hebergements aside#populaires {
        margin: 0;
        border-radius: 0;
    }
}