/* de 992 a 1400px */

body{
    max-width: 1400px;
    margin: auto;
    font-family: 'Raleway', serif;
    padding: 0 53px 0 48px;
    box-sizing: border-box;
}

header{
    height: 88px;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 61px;
    height: 19px;
    margin-left: 7px;
    margin-top: 44px;
}

nav{
    display: flex;
    text-align: center;
}

nav a{
    padding: 44px 20px;
    text-decoration: none;
    color: #000;
    border-top: 3px solid #FFF0;
    border-bottom: 3px solid #FFF0;
}

nav a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

section#recherche h1{
    margin-bottom: 0;
    font-weight: bolder;
}

section#recherche form{
    display: flex;
    height: 45px;
    margin-bottom: 25px;
}

section#recherche form > *{
    padding: 15px;
    border: 1px solid #D9D9D9;
    font-weight: 700;
}

section#recherche form i{
    border-right: none;
    border-radius: 15px 0 0 15px;
    background-color: #D9D9D9;
}

section#recherche form input{
    border-left: none;
    border-right: none;
    font-size: 18px;
    max-width: 25%;
}

section#recherche form button{
    border-color: #0065FC;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding: 0 15px;
}

section#recherche form button span{
    font-size: 18px;
}
section#recherche form button i{
    display: none;
}

section#recherche div#filtres > *{
    margin-right: 25px;
}

section#recherche div#filtres p,
section#recherche div#filtres span{
    font-weight: bolder;
}

section#recherche div#filtres{
    display: flex;
    height: 50px;
}

section#recherche div#filtres button{
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

section#recherche div#filtres button:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

section#recherche div#filtres i{
    color: #0065FC;
    margin: 0 7px;
    font-size: 1.4em;
    vertical-align: middle;
}

section#recherche div#filtres span {
    padding-right: 10px;
}

section#recherche div#infos{
    display: flex;
    align-items: center;
    margin-top: 18px;
}

section#recherche div#infos i{
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    min-width: 24px;
    height: 24px;
    text-align: center;
}

section#recherche div#infos i::before {
    vertical-align: text-bottom;
    font-size: 0.66em;
    color: #0065FC;
}

section#recherche div#infos p {
    height: fit-content;
    margin: 0;
    padding-left: 11px;
}

section#hebergements{
    margin-top: 39px;
    display: flex;
}

section#hebergements h2{
    font-size: 22px;
    line-height: 26px;
}

section#hebergements > div,
section#hebergements > aside{
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

section#hebergements div#tous{
    padding: 42px 40px 46px;
    margin-right: 40px;
    height: fit-content;
}

section#hebergements div#tous h2{
    margin: 0 0 23px;
}

section#hebergements div#tous a:last-child:not(.card){
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-top: 10px;
}

section#hebergements aside#populaires{
    padding: 41px 30px 34px 30px;
    width: 62%;
    max-width: 420px;
    box-sizing: border-box;
}

section#hebergements aside#populaires h2{
    margin: 0 0 26px;
    display: flex;
    justify-content: space-between;
}

section#hebergements aside#populaires h2 i{
    color: #0065FC;
    margin-top: auto;
    margin-bottom: auto;
}

section#hebergements div.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#hebergements a.card{
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    width: 30%;
    margin-bottom: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

section#hebergements figure{
    margin: 0;
}

section#hebergements figure img{
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section#hebergements figure figcaption {
    font-weight: 700;
}

section#hebergements p.tarifs{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 9px 0;
}

section#hebergements span.note{
    color: #0065FC;
}

section#hebergements figure figcaption,
section#hebergements p.tarifs,
section#hebergements span.note{
    margin-left: 10px;
}

section#hebergements span.note i.starGrey {
    color: #F2F2F2;
}

section#hebergements aside#populaires div.results{
    flex-direction: column;
}

section#hebergements aside#populaires a.card{
    display: flex;
    width: 100%;
    height: 144px;
}

section#hebergements aside#populaires h3{
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

section#hebergements aside#populaires figure{
    width: 40%;
    min-width: 40%;
}

section#hebergements aside#populaires figure img{
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 100%;
}

section#hebergements aside#populaires a.card > div {
    margin-left: 10px;
    position: relative;
    padding: 7px 0;
}

section#hebergements aside#populaires a.card > div *{
    margin-left: 0;
}

section#hebergements aside#populaires a.card > div span.note{
    position: absolute;
    bottom: 0;
}

section#activites {
    margin-top: 60px;
}

section#activites div{
    display: flex;
    justify-content: space-between;
}

section#activites div article{
    width: 22%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

section#activites div article a{
    text-decoration: none;
    color: black;
    margin: 0;
    height: 87%;
    display: block;
}

section#activites div article img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section#activites div article a h3{
    height: 56px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 19px;
    box-sizing: border-box;
    margin-top: -5px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

footer{
    height: 227px;
    margin-top: 61px;
    background: #F2F2F2;
    display: flex;
    padding: 45px 70px;
    box-sizing: border-box;
}

footer div{
    width: 35%;
}

footer div h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}

footer div ul{
    list-style-type: none;
    padding: 0;
}

footer div ul li{
    margin-bottom: 12px;
}

footer div ul li a{
    text-decoration: none;
    color: black;
}
