
/* de 992 a 1400px */
html {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    max-width: 1400px;
    margin: auto;
}

body{
    margin: 0 53px 0 48px;
    padding: 0;
}

header{
    height: 88px;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 61px;
    height: 19px;
    margin-left: 7px;
    margin-top: 44px;
}

nav{
    display: flex;
    text-align: center;
}

nav a{
    padding: 44px 20px;
    text-decoration: none;
    color: #000;
    border-top: 3px solid #FFF0;
    border-bottom: 3px solid #FFF0;
}

nav a:hover,
nav a.selected{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

section#recherche{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section#recherche h1{
    margin-bottom: 0;
    font-weight: bolder;
}

section#recherche form{
    height: 45px;
    margin-bottom: 25px;
}

section#recherche form > *{
    padding: 15px;
    border: 1px solid #D9D9D9;
    vertical-align: top;
    font-weight: bolder;
}

section#recherche form i{
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #D9D9D9;
}

section#recherche form input{
    border-left: none;
    border-right: none;
}

section#recherche form button{
    border-color: #0065FC;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

section#recherche form button span{
    margin: 0;
}
section#recherche form button i{
    display: none;
}

section#recherche div#filtres > *{
    margin-right: 25px;
}

section#recherche div#filtres p,
section#recherche div#filtres span{
    font-weight: bolder;
}

section#recherche div#filtres{
    display: flex;
    height: 50px;
}

section#recherche div#filtres button{
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
    padding: 0 10px;
}

section#recherche div#filtres button:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

section#recherche div#filtres i{
    color: #0065FC;
    margin: 0 7px;
    font-size: 1.4em;
    vertical-align: middle;
}

section#recherche div#filtres span {
    padding-right: 10px;
}

section#recherche div#infos{
    display: flex;
    margin-top: 18px;
}

section#recherche div#infos i{
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    min-width: 24px;
    height: 24px;
    text-align: center;
}

section#recherche div#infos i::before {
    vertical-align: text-bottom;
    font-size: 0.66em;
    color: #0065FC;
}

section#recherche div#infos p {
    height: fit-content;
    margin: auto;
    padding-left: 11px;
}

section#hebergements{
    margin-top: 39px;
    display: flex;
}

section#hebergements h2{
    font-size: 22px;
    line-height: 26px;
}

section#hebergements > div{
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

section#hebergements div#tous{
    padding: 42px 40px 46px;
    margin-right: 40px;
}

section#hebergements div#tous h2{
    margin: 0 0 23px;
}

section#hebergements div#tous p{
    margin: 10px 0 0;
}



section#hebergements div#populaires{
    padding: 41px 42px 34px 37px;
}

section#hebergements div#populaires h2{
    margin: 0 0 26px;
    display: flex;
    justify-content: space-between;
}

section#hebergements div#populaires h2 i{
    width: 18px;
    height : 15.75px;
    color: #0065FC;

}

section#hebergements div.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#hebergements a.card{
    width: 30%;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    max-width: 246px;
    min-width: 246px;
    margin-bottom: 30px;
}

section#hebergements div#populaires div.results{
    flex-direction: column;

}

section#hebergements div#populaires a.card{
    width: auto;
}

section#hebergements figure{
    margin: 0;
}

section#hebergements figure img{
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section#hebergements p.tarifs{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

section#hebergements span.note{
    color: #0065FC;
}

section#hebergements span.note i {
    width: 12px;
    height: 12px;
}